html {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#logo {
    width:5rem;
}
body {
    background-color: #ad92f9;
}
#navbar {
    background-color: #372880 !important;
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 1.5s ease;
}

#container-carousel {
    max-width: 40%;

}

#boton-productos {
    display:flex;
    justify-content:center;
}

#btnProductos {
    color: #372880 !important;
}

#btn-volver{
    margin-top: 20px;
}

.card-body {
    padding-inline: auto;
    text-align: justify;
}

.lista-detalles {
    list-style: none;
    padding: 0;
}

    .lista-detalles li {
        margin-bottom: 10px;
    }

.detalle-titulo {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

.detalle-contenido {
    display: inline-block;
    margin-left: 10px;
}
